*,*::after,*::before{
    margin:0;
    padding: 0;
}

.instruction-container{
   
    height: 650px;
      width: 500px;
    /* width: 100%; */
    border-radius: 8px;
    background-image:url("./images/backgroundimage-1.jpg");
   
     /* background-repeat: repeat-y;
            animation: backgroundAnimation 4s linear infinite; 
        }
         
           @keyframes backgroundAnimation {
            0% {
                background-position-y: 0%;
            }
            100% {
                background-position-y: 200%;
            }
    */
   
   


}
.logo{
    margin-top: 50px;
    height: 200px;
    width: 400px;
    margin-left: 50px;
}
/* .hen-picture {
 
    height: 200px;
    width: 120px;
    margin-left: 100px;

} */

.main-container{
     width: 1150px;
     height: 650px;
     background-color:blue;
            position: relative;
            
            display: none; 
    
    
}

.game-container{
        width: 1000px;
            height: 600px;
            position: relative;
            top: 0;
            left: 80px;

         
         
    right: 80px;
 background-image: url("./images/backgroundimage-1.jpg");
             
            background-size: 100%;
            background-repeat: repeat-y;
            animation: backgroundAnimation 1s linear infinite; 
        }
         
           @keyframes backgroundAnimation {
            0% {
                background-position-y: 0%;
            }
            100% {
                background-position-y: 200%;
            } 
        } 

        .start-button {
        border-radius:  20px;
        border: none;
        color:white;
        font-size: 40px;
        font-family: 'Courier New', Courier, monospace;
        background-color: green;
        margin-left: 100px;
    
        }

        .main-player-bird {
            height: 50px;
            width: 40px;
            bottom: 0px;
            left: 50%;
            /* overflow: hidden; */
          

            /* background-image: url("./images/mainPlayer.gif"); */
            
               position: absolute;
        }
    .enemy-chicken {
  position: relative;
  top: 0;
  left: 0;
  width: 40px; /* Adjust the width and height according to your enemy chicken size */
  height: 40px;
 
  border-radius: 50%;
 
  
}

.enemy-group{
   
    position: relative;
   display: flex;
   flex-direction: column;
   gap: 20px;

}

.enemy-row{
    
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}
 
   




        

